.DivInputs{
    position: absolute;
    width: 530px;
    height: 770px;
    left: 110px;
    top: 150px;
}

.historicoDiv{
    position: absolute;
    width: 646px;
    height: 856px;
    left: 720px;
    top: 98px;
}